%h1
  New Schedule Rule
  %small for #{link_to @thermostat_schedule.name, @thermostat_schedule}

= render partial: "form", locals: { thermostat: @thermostat, thermostat_schedule: @thermostat_schedule, thermostat_schedule_rule: @thermostat_schedule_rule }